<style type="text/css">
	img.wp-smiley,
	img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 0.07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
	</style>

**Not 
	<link rel="alternate" type="application/json+oembed" href="https://connectwithsachin.000webhostapp.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fconnectwithsachin.000webhostapp.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://connectwithsachin.000webhostapp.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fconnectwithsachin.000webhostapp.com%2F&#038;format=xml" />

	<style type="text/css">
		
		body {
			background-color: #0a0a0b;
		}

		.top-head {
			background-color: ;
		}
		.top-head,
		.top-head ul li,
		.top-head ul li i,
		.top-head p,
		.top-head .textwidget {
			color: ;
		}
		.top-head a {
			color: ;
		}

		.top-head a:hover {
			color: ;
		}


		header.site-header {
			background-color: ;
		}

		header.site-header.is-sticky {
			background-color: ;
		}

		.main-navigation .primary-menu {
			color: ;
		}

		.main-navigation .primary-menu > li > a {
			color: ;
		}
		
		.main-navigation .primary-menu li li a {
			color: ;
		}

		.main-navigation ul ul.sub-menu {
			background-color: ;
		}

		#site-header-menu.toggled-on {
			background-color: ;
		}


		body .main-navigation li:hover > a, 
		body .main-navigation li.focus > a, 
		body .main-navigation li.current-menu-item > a, 
		body .main-navigation li.current-menu-parent > a {
			color: ;
		}

		.main-footer,
		.main-footer h2,
		.main-footer p,
		.main-footer .textwidget,
		.main-footer ul li {
			color: ;
		}
		.main-footer a {
			color: ;
		}

		.main-footer a:hover {
			color: ;
		}

		.main-footer {
			background-color: #0a0a0b;
		}


		.site-footer,
		.site-footer p {
			color: ;
		}
		.site-footer a {
			color: ;
		}

		.site-footer a:hover {
			color: ;
		}

		.site-footer {
			background-color: ;
		}

	</style>
